name: .NET Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    - name: Restore dependencies
      run: dotnet restore ./NexusERP.slnx
      
    - name: Build
      run: dotnet build ./NexusERP.slnx --no-restore --configuration Release

    - name: Test
      run: dotnet test ./NexusERP.Tests --no-restore --verbosity normal